.root-wrapper {
  display: flex;
  height: 100vh;
  .sidebar {
    width: 20%;
    height: 100%;
  }
  .main {
    flex-grow: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
    .content {
      padding: 0px 50px;
    }
  }
}
